.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .corpo {
    flex: 1;
  }
  form {
    width: 615px;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 48px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  .campos{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 20px;
    font-family: inherit;
    border: 1px solid #8f959e;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 5px #0b6a1d;
  }

  button[type="submit"] {
    display: block;
    right: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2f9e41;
    color: #fff;
    font-size: 1.171875rem;
    line-height: 1.5;
    cursor: pointer;
  }

  button[type="button"] {
    display: block;
    right: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2f9e41;
    color: #fff;
    font-size: 1.171875rem;
    line-height: 1.5;
    cursor: pointer;
  }

  button[type="button"]:hover {
    background-color: #0069d9;
  }

  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }


}
