.espacamento{
  // margin-bottom: 25px;
  width: 100%;
  height: 100%;
}

.titulo{
  display: grid;
  padding: 0px 45px 0px 27px;
  font-size: 34px;
  font-weight: bold;
}

.cardDecoracao{
  width: 200px;
  height: 2px;
  background-color: #2B923C;
  border: 1px solid #2B923C;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 32px 32px 0px;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
}

.retanguloStatus {
  color: #FFFFFF;
  background-color: #6A737B;
  border: 1px solid #ccc;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.statusColor1{
  background-color: #2B923C;
}

.statusColor2{
  background-color: #5699ea;
}

.statusColor3{
  background-color: #CB0606;
}

.fluxo{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100px;
}

.circle {
  border: 1px solid #2B923C;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2B923C;
  font-weight: bold;
  font-size: 25px;
}

.progressoEtapa{
  background-color: #6de78154;
}

.cardConteudo{
  margin: 10px 50px;
  font-size: 18px;
  width: 85%;
}

span {
  margin-top: 10px;
  text-align: center;
}

.retanguloFluxo{
  width: 30px;
  height: 2px;
  border: 1px solid #2B923C;
  margin-top: 50px;
  background-color: #2B923C;
}

.buttonFechar{
  display: flex;
  flex-direction: row-reverse;
  padding: 16px;

}

.buttonSolicitar{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  padding: 16px;

}

button{
  padding-left: 2%;
  padding-right: 2%;
  background: #2B923C;
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
  border: 0px;
  cursor: pointer;
}

.observacao{
  border: 1px solid;
  margin: 30px 50px;
  font-size: 18px;
  background-color: #cacaca78;
  width: 55%;
  padding: 10px;
}
