<div class="tituloprincipal1">
  <span>Lista de Solicitações</span>
  <span class="cardDecoracao1"></span>
</div>

<div class="formulario">
  <form (ngSubmit)="enviarFormulario()">

    <div class="campo">
      <label for="titulo">Título</label>
      <input class="inputText" [(ngModel)]="vaga.titulo" type="text" id="titulo" name="titulo" placeholder="Título" required>
    </div>

    <div class="campoDuplo">
      <div class="campo">
        <label for="empresa">Empresa</label>
        <input class="inputText" [(ngModel)]="vaga.empresa" type="text" id="empresa" name="empresa" placeholder="Empresa" required>
      </div>

      <div class="campo">
        <label for="agencia">Agência</label>
        <input class="inputText" [(ngModel)]="vaga.agencia" type="text" id="agencia" name="agencia" placeholder="Agência" required>
      </div>
    </div>

    <div class="campo">
      <label for="descricao">Descrição</label>
      <textarea class="inputTextarea" [(ngModel)]="vaga.descricao" id="descricao" name="descricao" placeholder="Descrição" required maxlength="500"></textarea>
    </div>

    <div class="campo">
      <label for="local">Local</label>
      <input class="inputText" [(ngModel)]="vaga.local" type="text" id="local" name="local" placeholder="Local" required>
    </div>
    <div class="campoDuplo">
      <div class="campo">
        <label for="valor">Valor</label>
        <input class="inputText" [(ngModel)]="vaga.valor" type="text" id="valor" name="valor" placeholder="Valor" required>
      </div>

      <div class="campo">
        <label for="turno">Turno</label>
        <input class="inputText" [(ngModel)]="vaga.turno" type="text" id="turno" name="turno" placeholder="Turno" required>
      </div>
    </div>
    <div class="botao">
      <input class="botaoCadastrar" type="submit" value="Cadastrar">
    </div>
  </form>
</div>