<div class="tituloprincipal">
  <span>Lista de Solicitações</span>
  <span class="cardDecoracao1"></span>
</div>

<div class="filtro-container" style="margin-top: 20px">
  <div class="filtro-row">
    <form class="filtro-form" (ngSubmit)="filtrarPorNome()">
      <div class="filtro-wrapper">
        <input
          type="text"
          [(ngModel)]="filtroNome"
          name="filtroNome"
          placeholder="Filtrar por nome do aluno"
          class="filtro-input"
        />
      </div>
      <button type="submit" class="filtro-button">Filtrar</button>
    </form>

    <mat-checkbox
      (change)="filtrarPorTipo()"
      [(ngModel)]="tiposStatus.Cancelamento"
      name="filtroAtrasadas"
      class="filtro-checkbox"
      color="warn"
      matTooltip="Lista todas as solicitações de cancelamento"
      [matTooltipHideDelay]="500"
      [matTooltipShowDelay]="1000"
      >Cancelamento</mat-checkbox
    >
    <mat-checkbox
      (change)="filtrarPorTipo()"
      name="filtroAtrasadas"
      [(ngModel)]="tiposStatus.Aproveitamento"
      class="filtro-checkbox"
      color="warn"
      matTooltip="Lista todas as solicitações de aproveitamento"
      [matTooltipHideDelay]="500"
      [matTooltipShowDelay]="1000"
      >Aproveitamento</mat-checkbox
    >
    <mat-checkbox
      (change)="filtrarPorTipo()"
      name="filtroAtrasadas"
      [(ngModel)]="tiposStatus.estagio"
      class="filtro-checkbox"
      color="warn"
      matTooltip="Lista todas as solicitações de estágio obrigatório e não obrigatório"
      [matTooltipHideDelay]="500"
      [matTooltipShowDelay]="1000"
      >Estágio</mat-checkbox
    >
    <mat-checkbox
      (change)="filtrarPorTipo()"
      name="filtroAtrasadas"
      [(ngModel)]="tiposStatus.renovacao"
      class="filtro-checkbox"
      color="warn"
      matTooltip="Lista todas as solicitações de renovação de estágio"
      [matTooltipHideDelay]="500"
      [matTooltipShowDelay]="1000"
      >Renovação</mat-checkbox
    >

    <form class="filtro-form" (ngSubmit)="filtrarPorStatus()">
      <div class="filtro-wrapper">
        <select
          [(ngModel)]="filtroStatus"
          name="filtroStatus"
          (change)="limparFiltro()"
          class="filtro-status"
        >
          <option value="todas">Todas</option>
          <option value="Atrasadas">Atrasadas 5 dias</option>
          <option value="Em análise">Em análise</option>
          <option value="Deferido">Deferidas</option>
          <option value="Indeferido">Indeferidas</option>
          <option value="Pendentes">Pendentes</option>
          <option value="Respondidas">Respondidas</option>
          <option value="Finalizadas">Finalizadas</option>
          <option value="Canceladas">Canceladas</option>
          <option value="Novas">Novas</option>
        </select>
      </div>
    </form>

    <form class="filtro-form" (ngSubmit)="filtrarPorData()">
      <div class="filtro-wrapper">
        De
        <input
          type="date"
          [(ngModel)]="filtroDataInicial"
          name="filtroDataInicial"
          class="filtro-input"
        />
        Até
        <input
          type="date"
          [(ngModel)]="filtroDataFinal"
          name="filtroDataFinal"
          class="filtro-input"
        />
      </div>
      <button type="submit" class="filtro-button">Filtrar Por Data</button>
    </form>
  </div>
</div>

<div *ngIf="dataInvalida" class="error-message">
  * Data inválida! Por favor, insira uma data válida. *
</div>

<div
  class="solicitacao"
  *ngIf="solicitacoesPagina.length > 0; else semSolicitacoes"
>
  <div *ngFor="let solicitacao of solicitacoesPagina">
    <app-solicitacao-servidor
      [solicitacao]="solicitacao"
    ></app-solicitacao-servidor>
  </div>
</div>

<div class="pagination">
  <button
    class="previous"
    (click)="paginaAnterior()"
    [disabled]="isPaginaAnteriorDisabled()"
    [ngClass]="{ disabled: isPaginaAnteriorDisabled() }"
  >
    Anterior
  </button>
  <span class="titulo">
    <p *ngIf="totalPaginas > 1">
      pág.<b>{{ paginaAtual }}</b> de <b>{{ totalPaginas }}</b>
    </p>
  </span>
  <button
    class="next"
    (click)="proximaPagina()"
    [disabled]="isProximaPaginaDisabled()"
    [ngClass]="{ disabled: isProximaPaginaDisabled() }"
  >
    Próxima
  </button>
</div>

<ng-template #semSolicitacoes>
  <div class="semSolicitacoes">
    <p>Você não tem solicitações em "{{ filtroStatus }}"</p>
  </div>
</ng-template>
