<div class="tituloprincipal">
  <span>Lista de Solicitações</span>
  <span class="cardDecoracao1"></span>
</div>

<div class="filtro-container" style="margin-top: 20px;">
  <div class="filtro-row">

    <form class="filtro-form" (ngSubmit)="filtrarPorNome()">
      <div class="filtro-wrapper">
        <input
          type="text"
          [(ngModel)]="filtroNome"
          name="filtroNome"
          placeholder="Filtrar por nome"
          class="filtro-input"
        />
      </div>
      <button type="submit" class="filtro-button">Filtrar</button>
    </form>

    <form class="filtro-form" (ngSubmit)="filtrarPorStatus()">
      <div class="filtro-wrapper">
        <select [(ngModel)]="filtroStatus" name="filtroStatus" class="filtro-status" (ngModelChange)="filtrarPorStatus()">
          <option value="todas">Todas</option>
          <option value="Pendentes">Pendentes</option>
          <option value="Atrasadas">Atrasadas 5 dias</option>
          <option value="Em Andamento">Em Andamento</option>
          <option value="Deferido">Deferidas</option>
          <option value="Indeferido">Indeferidas</option>
          <option value="Novas">Novas</option>
        </select>
      </div>
    </form>

    <form class="filtro-form" (ngSubmit)="filtrarPorData()">
      <div class="filtro-wrapper">
        De
        <input type="date" [(ngModel)]="filtroDataInicial" name="filtroDataInicial" class="filtro-input"/>
        Até
        <input type="date" [(ngModel)]="filtroDataFinal" name="filtroDataFinal" class="filtro-input"/>
      </div>
      <button type="submit" class="filtro-button">Filtrar Por Data</button>
    </form>
  </div>
</div>

<div *ngIf="dataInvalida" class="error-message">
  * Data inválida! Por favor, insira uma data válida. *
</div>

<div class="solicitacao" *ngIf="solicitacoesPagina.length > 0; else semSolicitacoes">
  <div *ngFor="let solicitacao of solicitacoesPagina">
    <app-solicitacao-servidor [solicitacao]="solicitacao"></app-solicitacao-servidor>
  </div>
</div>

<div class="pagination">
  <button class="previous" (click)="paginaAnterior()" [disabled]="isPaginaAnteriorDisabled()"
    [ngClass]="{ 'disabled': isPaginaAnteriorDisabled() }">
    Anterior
  </button>
  <button class="next" (click)="proximaPagina()" [disabled]="isProximaPaginaDisabled()" [ngClass]="{ 'disabled': isProximaPaginaDisabled() }">
    Próxima
  </button>
</div>

<ng-template #semSolicitacoes>
  <div class="semSolicitacoes">
    <p>Você não tem solicitações em "{{filtroStatus}}"</p>
  </div>
</ng-template>

