<div class="espacamento">
  <div class="card">
   <div class="header">
    <div class="titulo">
      <span>{{solicitacao.titulo}}</span>
      <span class="cardDecoracao"></span>
     </div>


      <div>
        <span>Status</span>
        <span class="retangulo" [ngClass]="statusSolicitacao()">{{solicitacao.status}}</span>
      </div>
   </div>

   <div class="fluxo">
      <span>aqui vai ser o fluxo</span>
      <div class="circle">1</div>
   </div>


   <div class="cardConteudo">
    <span>{{solicitacao.conteudo}} esidir em Porto Alegre e curse Ensino Médio, Marketing, Técnico Em Vendas, Técnico Em Administração, Gestão de Marketing e Vendas e Gestão de Marketing.Atividades - Responder clientes por WhatsApp e telefone; - Oferecer o serviço jurídico; - Agendar consulta jurídica com o cliente, pedir avaliação do atendimento; - Editar fotos e documentos; - Digitalizar documentos de clientes. Pré requisitos Ter disponibilidade para estagiar por no mínimo 1 ano; Possuir conhecimento em: - Word: nível básico - Excel: nível básico - Power Point: nível básico Informações Importantes -Características desejáveis: Ser comunicativo, ter ambição e saber se expressar.</span>
   </div>

   <div class="buttonFechar">
    <button>Fechar</button>
   </div>

  </div>
</div>
