
<div class="titulo">
  <div class="voltar">
    <button
      mat-icon-button
      matTooltip="Voltar para a página de cadastro de servidores"
      [matTooltipHideDelay]="500"
      [matTooltipShowDelay]="1000"
      color="primary"
      aria-label="Voltar"
      routerLink="/cadastrarServidor"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="titulo">
    <p>Lista de servidores</p>
  </div>
</div>
<ul class="servidores">
  <li>
    <div class="card cardHeader">
      <div class="nome">NOME</div>
      <div class="email">E-MAIL</div>
      <div class="cargo">CARGO</div>
      <div class="curso">CURSO</div>
      <div class="acoes">AÇÕES</div>
    </div>
  </li>
  <li *ngFor="let servidor of servidores">
    <div class="card">
      <div class="nome">
        {{ servidor.nome }}
      </div>
      <div class="email">
        {{ servidor.usuarioSistema.email }}
      </div>
      <div class="cargo">
        {{ servidor.cargo }}
      </div>
      <div class="curso" contenteditable="true">
        {{ servidor.curso.nomeCurso }}
      </div>
      <div class="acoes">
        <button
          (click)="excluirServidor(servidor)"
          matTooltip="Excluir o cadastro do servidor do sistema, liberando o e-mail para ser utilizado novamente."
          [matTooltipHideDelay]="500"
          [matTooltipShowDelay]="1000"
        >
          Excluir
        </button>
      </div>
    </div>
  </li>
</ul>
