.titulo {
  padding: 30px;
  display: flex;
  justify-content: center;

  p {
    font-weight: 700;
    font-size: 30px;
    border-bottom: 4px solid #2b923c;
    padding-bottom: 8px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  align-items: center;

  label {
    font-size: 20px;
    font-style: normal;
    height: 28px;
  }

  input {
    background: #ffffff;
    border: 1px solid #000000;
    width: 25%;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 7px;
    font-size: 18px;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    border: 0px solid #000000;
    border-radius: 3px;
    background: #2F9E41;
    font-style: normal;
    font-size: 1.5em;
    color: #FFFFFF;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;

    &.btn-primary {
      background-color: #2F9E41;
      color: white;
      &:hover {
        background-color: #268236;
      }
    }
    &.btn-secondary {
      background-color: gray;
      color: white;
      &:hover {
        background-color: #ff0000;
      }
    }
  }
}
