<div class="body">
  <h2 mat-dialog-title class="title">Atenção</h2>
  <mat-dialog-content class="content">
    <p [innerHTML]="data.conteudo"></p>
    <form #form="ngForm" (ngSubmit)="enviar()" ngNativeValidate>
      <mat-form-field *ngIf="data.mostrarCampoMotivo">
        <textarea
          matInput
          [formControl]="motivoIndeferimento"
          [placeholder]="
            data.edicaoAluno ? 'Observação ao aluno' : 'Motivo do indeferimento'
          "
          #motivoInput
          required
        ></textarea>
        <mat-error
          *ngIf="
            motivoIndeferimento.invalid &&
            (motivoIndeferimento.dirty || motivoIndeferimento.touched)
          "
        >
          {{
            data.edicaoAluno
              ? "A observação  ao aluno é obrigatoria"
              : "O campo motivo do indeferimento é obrigatório"
          }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="enviar()"
      [disabled]="data.mostrarCampoMotivo && motivoIndeferimento.value === ''"
    >
      Confirmar
    </button>

    <button mat-raised-button color="warn" mat-dialog-close class="close">
      Fechar
    </button>
  </mat-dialog-actions>
</div>
