<div class="avisoFundo" *ngIf="exibir"></div>
<div class="corpo">
  <div class="aviso" *ngIf="perfilIncompleto">
    <h1 class="tAviso">Atenção</h1>
    <h1 class="titulo">{{ textoEnvio }}</h1>
    <button class="botaov" type="button" (click)="redirecionarPerfil()">
      OK
    </button>
  </div>

 

  <div class="formulario" *ngIf="!perfilIncompleto">
    <form class="formulario" (ngSubmit)="enviarSolicitacao()">
      <div class="titulo">
        <p>Envio de solicitação</p>
      </div>

      <div class="caixa">
        <div class="input">
          <label for="tipo">Tipo de solicitação*</label>
          <select
            name="tipo"
            [class]="camposErro['tipo'] ? 'erroCampo' : ''"
            [(ngModel)]="solicitacao.tipo"
            (change)="mostrarDocumentosObrigatorios(); resetCamposErro()"
          >
            <option value="" disabled>Escolha um tipo de estágio</option>
            <option value="Obrigatório">Obrigatório</option>
            <option value="Não obrigatório">Não obrigatório</option>
            <option value="Aproveitamento">Aproveitamento</option>
            <option value="Renovação">Renovação de estágio</option>
          </select>
        </div>

        <div class="input">
          <label for="inicioDataEstagio">Início do estágio</label>
          <input
            name="inicioDataEstagio"
            type="date"
            id="nome"
            [class]="camposErro['inicioDataEstagio'] ? 'erroCampo' : ''"
            (input)="onInput($event, 'nova'); resetCamposErro()"
            [(ngModel)]="inicioDataEstagio"
            required
            maxlength="8"
          />
        </div>
      </div>
      <div class="caixa" *ngIf="solicitacao.tipo == 'Aproveitamento'">
        <div class="input">
          <label for="tipoAproveitamento">Tipo de aproveitamento*</label>
          <select name="tipoAproveitamento" [(ngModel)]="tipoAproveitamento" (change)="mostrarDocumentosObrigatorios()">
            <option value="" disabled>Escolha um tipo de aproveitamento</option>
            <option value="APRO1">
              estágio não obrigatório como estágio obrigatório
            </option>
            <option value="APRO2">
              trabalho vigente como estágio obrigatório
            </option>
            <option value="APRO3">
              atividades de extensão, monitoria, ensino e de iniciação
              científica vigente como estágio obrigatório
            </option>
            <option value="APRO4">Experiência profissional comprovada</option>
          </select>
        </div>
      </div>
      <div class="caixa">
        <div class="input" >
          <label  for="nomeEmpresa">Nome da empresa</label>
          <input
            [class]="camposErro['salario'] ? 'erroCampo' : ''"
            name="nomeEmpresa"
            type="text"
            id="nomeEmpresa"
            [(ngModel)]="solicitacao.nomeEmpresa"
            (input)="resetCamposErro()"
            required
            maxlength="48"
          />
        </div>

        <div class="input">
          <label for="finalDataEstagio">Final do estágio</label>
          <input
            name="finalDataEstagio"
            type="date"
            [class]="camposErro['finalDataEstagio'] ? 'erroCampo' : ''"
            id="nome"
            [(ngModel)]="finalDataEstagio"
            (input)="onInputFim($event); resetCamposErro()"
            required
            maxlength="8"
          />
        </div>
      </div>
      <div class="caixa">
        <div class="input">
          <div class="caixa">
            <div class="input">
              <label for="ePrivada">Tipo da Empresa:</label>
              <mat-radio-group
                class="example-radio-group"
                [(ngModel)]="solicitacao.ePrivada"
              >
                <input
                  type="radio"
                  [class]="camposErro['ePrivada'] ? 'erroCampo' : ''"
                  id="ePrivada"
                  name="tipoEmpresa"
                  [(ngModel)]="solicitacao.ePrivada"
                  [value]="true"
                  required
                />
                <label for="privada">Privada</label>
                <input
                  type="radio"
                  id="publica"
                  name="tipoEmpresa"
                  [(ngModel)]="solicitacao.ePrivada"
                  [value]="false"
                  required
                />
                <label for="publica">Pública</label>
              </mat-radio-group>
            </div>
            <div class="input">
              <label for="contatoEmpresa">Contato da empresa</label>
              <input
                name="contatoEmpresa"
                [class]="camposErro['contatoEmpresa'] ? 'erroCampo' : ''"
                type="text"
                id="contatoEmpresa"
                [(ngModel)]="solicitacao.contatoEmpresa"
                (input)="validarContato($event); resetCamposErro()"
                required
                maxlength="11"
              />
            </div>
          </div>
        </div>

        <div class="input">
          <label for="agente">Agente Integrador:</label>
          <select
            name="agente"
            [(ngModel)]="solicitacao.agente"
            [class]="camposErro['agente'] ? 'erroCampo' : ''"
            (change)="selecionarAgente(); resetCamposErro()"
            maxlength="20"
          >
            <option value="" disabled>Escolha um dos agentes se houver</option>
            <option value="CIEE">CIEE</option>
            <option value="Metta">Metta</option>
            <option value="Integrar">Integrar</option>
            <option value="Futura">Futura Estágios</option>
            <option value="Estagiar">Estagiar</option>
            <option value="Nenhum">Nenhum agente.</option>
            <option value=" ">Outro...</option>
          </select>
        </div>
      </div>

      <div class="input" *ngIf="agenteOutro">
        <label for="agenteOutro">Nome do outro agente integrador:</label>
        <input
          name="agenteOutroNome"
          type="text"
          [class]="camposErro['agenteOutroNome'] ? 'erroCampo' : ''"
          id="agenteOutro"
          [(ngModel)]="agenteOutroNome"
          [maxlength]="20"
        />
      </div>

      <div class="caixa">
        <div class="input">
          <div class="caixa">
            <div class="input">
              <label for="salario">Bolsa auxílio hora</label>
              <div class="inputSalario">
                <p class="simboloDinheiro">R$</p>
                <input
                  name="salario"
                  type="text"
                  class="inputSalario"
                  id="salario"
                  [class]="camposErro['salario'] ? 'erroCampo' : ''"
                  [(ngModel)]="solicitacao.salario"
                  required
                  (input)="validarSalario($event); resetCamposErro()"
                  placeholder="0,00"
                />
              </div>
            </div>
            <div class="input">
              <label for="turno">Turno</label>
              <select
                name="turno"
                [(ngModel)]="solicitacao.turnoEstagio"
                [class]="camposErro['turnoEstagio'] ? 'erroCampo' : ''"
                required
                (change)="camposErro['turnoEstagio'] ? resetCamposErro() : ''"
                maxlength="20"
              >
                <option value="" disabled>Escolha um turno</option>
                <option value="Manhã">Manhã</option>
                <option value="Tarde">Tarde</option>
                <option value="Noite">Noite</option>
              </select>
            </div>
          </div>
        </div>

        <div class="input">
          <label for="cargaHoraria">Carga horária semanal</label>
          <input
            name="cargaHoraria"
            type="number"
            id="cargaHoraria"
            [class]="camposErro['cargaHoraria'] ? 'erroCampo' : ''"
            (input)="validarCargaHoraria($event); resetCamposErro()"
            [(ngModel)]="solicitacao.cargaHoraria"
            required
            placeholder="20"
          />
        </div>
      </div>

      <label for="nome">Aluno </label>
      <input
        class="readonly"
        name="nomeCompleto"
        type="text"
        id="nome"
        value=" {{ userData.nomeCompleto }}"
        [readOnly]="true"
      />
      <label for="curso">Curso</label>
      <input
        class="readonly"
        type="text"
        name="curso"
        id="curso"
        value="{{ userData.curso.nomeCurso }}"
        [readOnly]="true"
      />

      <div class="container">
        <div class="row">
          <label for="matricula">Matrícula</label>
          <input
            class="matricula readonly"
            name="matricula"
            type="text"
            id="matricula"
            value="{{ userData.matricula }}"
            maxlength="10"
            [readOnly]="true"
          />
        </div>

        <div class="row"></div>
      </div>

      <h1 for="file">Anexo de documentos</h1>
      <input
        type="file"
        name="file"
        id="file"
        (change)="onFileSelected($event)"
        accept=".pdf,.doc,.docx"
      />

      <label for="tce" *ngIf="inputMostrar.tce">Termo de compromisso de estágio (TCE)</label>
      <input
      *ngIf="inputMostrar.tce"
        class="inputFileM"
        type="file"
        name="tce"
        (change)="anexarDocObrigatorios($event, 'tce')"
        placeholder="teste"
        accept=".pdf,.doc,.docx"
      />
      <label *ngIf="inputMostrar.atividades" for="atividades">Plano de Atividades</label>
      <input
      *ngIf="inputMostrar.atividades"
        class="inputFileM"
        type="file"
        name="atividades"
        (change)="anexarDocObrigatorios($event, 'atividades')"
        value="Anexe o relatório de atividades"
        accept=".pdf,.doc,.docx"
      />
      <label *ngIf="inputMostrar.requerimento" for="requerimentoAproveitamento">Requerimento</label>
      <input
        *ngIf="inputMostrar.requerimento"
        class="inputFileM"
        type="file"
        name="requerimentoAproveitamento"
        (change)="anexarDocObrigatorios($event, 'requerimento')"
        value="Anexe o relatório de atividades"
        accept=".pdf,.doc,.docx"
      />
    
      <label *ngIf="inputMostrar.vinculo" for="vinculo">Comprovante de vinculo com a empresa</label>
      <input
       *ngIf="inputMostrar.vinculo"
        class="inputFileM"
        type="file"
        name="vinculo"
        (change)="anexarDocObrigatorios($event, 'vinculo')"
        value="Anexe o relatório de atividades"
        accept=".pdf,.doc,.docx"
      />
      
      <label *ngIf="inputMostrar.atividadesEmpresa" for="atividadesEmpresa">Declaração de atividades da empresa</label>
      <input
      *ngIf="inputMostrar.atividadesEmpresa"
        class="inputFileM"
        type="file"
        name="atividadesEmpresa"
        (change)="anexarDocObrigatorios($event, 'atividadesEmpresa')"
        value="Anexe o relatório de atividades"
        accept=".pdf,.doc,.docx"
      />
      
      <label *ngIf="inputMostrar.comprovanteExtensao" for="comprovanteExtensao">Doc. oficial comprovando o vínculo e atividades desenvolvidas</label>
      <input
       *ngIf="inputMostrar.comprovanteExtensao"
        class="inputFileM"
        type="file"
        name="comprovanteExtensao"
        (change)="anexarDocObrigatorios($event, 'comprovanteExtensao')"
        value="Anexe o relatório de atividades"
        accept=".pdf,.doc,.docx"
      />
      <label *ngIf="inputMostrar.comprovanteExtensao" for="termoFornalizacao">Termo de formalização</label>
      <input
       *ngIf="inputMostrar.comprovanteExtensao"
        class="inputFileM"
        type="file"
        name="termoFornalizacao"
        (change)="anexarDocObrigatorios($event, 'termoFornalizacao')"
        value="Anexe o termo Fornalizacao"
        accept=".pdf,.doc,.docx"
      />
      <label *ngIf="inputMostrar.comprovanteExtensao" for="PlanoAtividades">Plano de atividades (Opcional)</label>
      <input
       *ngIf="inputMostrar.comprovanteExtensao"
        class="inputFileM"
        type="file"
        name="PlanoAtividades"
        (change)="anexarDocObrigatorios($event, 'PlanoAtividades')"
        value="Anexe o plano de atividades"
        accept=".pdf,.doc,.docx"
      />

      <button
        class="fileInput"
        type="button"
        onclick="document.getElementById('file').click()"
      >
        Anexar outros documentos
      </button>
      <ul>
        <li *ngFor="let file of files">
          {{ file.name }}
          <img
            src="/assets/img/apagarBotao.png"
            width="16px"
            (click)="deletarArquivo(file)"
          />
        </li>
      </ul>

      <input
        class="botao"
        type="button"
        (click)="exibirDiv()"
        value="Enviar solicitação"
      />
      <div class="aviso" *ngIf="exibir">
        <h1 class="tAviso" *ngIf="!sucesso">Atenção</h1>
        <h1 class="tAviso" *ngIf="sucesso">{{ aviso }}</h1>
        <h1 class="titulo">{{ textoEnvio }}</h1>
        <input
          class="botao"
          type="submit"
          *ngIf="!sucesso"
          value="Enviar solicitação"
        />
        <input
          class="botaov"
          type="button"
          *ngIf="!sucesso"
          (click)="exibirDiv()"
          value="Cancelar"
        />
        <input
          class="botaov"
          type="button"
          *ngIf="sucesso"
          (click)="retornar()"
          value="Voltar"
        />
      </div>
    </form>
  </div>
  <div class="observacaoAluno" >
    <b>Observações:</b>
    <ul>
      <li>Os documentos devem ser anexados em formato .PDF .DOC ou .DOCX!</li>
      <li>
        A instituição de ensino é a última a assinar os documentos de estágio.
        Portanto, todas as vias dos documentos devem conter todas as assinaturas
        para somente depois coletar as assinaturas da Direção-geral e/ou
        professor(a) orientador(a).
      </li>
      <li>
        Os documentos podem ser assinados digitalmente. Caso não possua
        assinatura digital, utilize o assinador do Gov.br.
      </li>
      <li>O prazo para resposta é de até 05 (cinco) dias úteis.</li>
    </ul>
  </div>
</div>
