<div class="espacamento">
    <div class="card">
      <div class="header">
        <div class="titulo">
          <span>{{vaga.titulo}}</span>
          <span class="cardDecoracao"></span>
        </div>
      </div>
  
      <div class="conteudo">
        <div class="empresa">
          <span>Empresa: {{vaga.empresa}}</span>
        </div>
  
        <div class="agencia">
          <span>Agencia de estágio: {{vaga.agencia}}</span>
        </div>
  
        <div class="descricao">
          <h3>Descrição da vaga:</h3>
          <span>{{vaga.descricao}}</span>
        </div><br>
        
        <div class="local">
          <span>Local: {{vaga.local}}</span>
        </div>
  
        <div class="valor">
          <span>Valor da Bolsa: {{vaga.valor}}</span>
        </div>
  
        <div class="turno">
          <span>Turno: {{vaga.turno}}</span>
        </div>
  
        <div class="buttonFechar">
          <button (click)="closeDialog()">Voltar</button>
        </div>
  
      </div>
  
    </div>
  </div>
  