.espacamento{
    // margin-bottom: 25px;
    width: 613px;
    // height: 100%;
  }
  
  .header{
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 0px;
    font-weight: bold;
    font-size: 18px;
    align-items: center;
  }
  
  .titulo{
    display: flex;
    flex-direction: column;
    // padding-left: 16px;
    font-size: 34px;
    font-weight: bold;
    align-items: center;
  }
  
  .cardDecoracao{
    width: 550px;
    height: 1px;
    border: 1px solid #2B923C;
    margin-top: 10px;
  }
  
  .conteudo{
    margin: 21px 30px 0px 33px;
  }
  
  .empresa{
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .agencia{
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  
  .descricao {
    padding: 5px 20px 5px 10px;
    white-space: pre-wrap;
    outline: none;
    border-color: #2B923C;
    box-shadow: 0 0 5px #2B923C;
  }
  
  
  .local{
    font-weight: 500;
    margin-bottom: 15px;
  }

   h3{
    font-weight: 500;
  }
  
  .valor{
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .turno{
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .buttonFechar{
    display: flex;
    flex-direction: row-reverse;
    padding: 16px;
  }
  
  button{
    padding-left: 2%;
    padding-right: 2%;
    background: #2B923C;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    border: 0px;
    cursor: pointer;
  }
  