.mural{
    padding: 3%;
  }
  
  .vagas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% 15% 0 15%;
  }
  
  .mural-card {
    flex-basis: calc(25% - 12px); /* 4 cards por linha */
    margin: 6px;
  }
  
  
  
  .semVagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
  }
  