<div class="vagas" *ngIf="listaVagas.length > 0; else semVagas">
  <!-- Conteúdo a ser exibido quando houver vagas -->
</div>

<ng-template #semVagas>
  <div class="semVagas">
    <p>Orientações</p>
    <p>
      Estágio é o ato educativo escolar supervisionado, desenvolvido num ambiente de trabalho, que visa à preparação para o trabalho produtivo de estudantes que estejam frequentando o ensino regular em instituições de ensino superior, de educação profissional, de ensino médio, de educação especial, dos anos finais do ensino fundamental e na modalidade profissional da educação de jovens e adultos, devendo ser coerente com o perfil profissional e propiciar a complementação do processo de ensino e de aprendizagem.
    </p>

    <h3>Contato</h3>
    <p>
      E-mail: estagios@restinga.ifrs.edu.br <br />
      As solicitações devem ser enviadas somente por e-mail. O prazo para resposta é de até 05 (cinco) dias úteis. <br />
      Telefone: (51) 3247-8409
    </p>

    <h3>Orientações gerais</h3>
    <p>
      A instituição de ensino é a última a assinar os documentos de estágio. Portanto, todas as vias dos documentos devem conter todas as assinaturas para somente depois coletar as assinaturas da Direção-geral e/ou professor(a) orientador(a).
    </p>
    <p>
      Os documentos podem ser assinados digitalmente. Caso não possua assinatura digital, utilize o assinador do Gov.br.
    </p>
    <p>
      Para solicitar a assinatura dos documentos de estágios, é necessário encaminhar em arquivo PDF os documentos de estágio para o e-mail: estagios@restinga.ifrs.edu.br.
    </p>

    <h3>Orientações para agentes de integração e concedentes</h3>
    <p>Mural de Oportunidades – divulgação de bolsas e vagas de estágio.</p>

    <h3>Estágios Não Obrigatórios</h3>
    <p>Manual de Estágios não obrigatórios</p>
    <ul>
      <li>Assinador digital GOV.BR</li>
      <li>Termo de compromisso de estágio não obrigatório</li>
      <li>Plano de atividades</li>
      <li>Termo aditivo estágio não obrigatório</li>
      <li>Termo de Rescisão Estágio</li>
      <li>Termo de realização de estágio</li>
      <li>Relatório de Estágio Não Obrigatório</li>
    </ul>

    <h3>Estágios Obrigatórios</h3>
    <p>Manual de Estágios Obrigatórios</p>
    <p>Orientadores do Estágio Obrigatório 2023/1</p>
    <p>Dúvidas referentes a estágios obrigatórios devem ser direcionadas à coordenação do curso.</p>
    <ul>
      <li>Assinador digital GOV.BR</li>
      <li>Termo de compromisso de estágio obrigatório</li>
      <li>Plano de atividades</li>
      <li>Termo aditivo estágio obrigatório</li>
      <li>Termo de Rescisão Estágio</li>
      <li>Termo de realização de estágio</li>
      <li>Relatório Final de Estágio Obrigatório</li>
      <li>Termo de Formalização de Estágio Curricular Obrigatório</li>
      <li>Declaração da Empresa de Atividades Realizadas</li>
      <li>Declaração da Empresa de Atividades Atuais</li>
    </ul>

    <h3>Legislação e Normas Superiores</h3>
    <ul>
      <li>Lei nº 9.394, de 20 de dezembro de 1996 – Estabelece as diretrizes e bases da educação nacional</li>
      <li>Lei nº 11.788, de 25 de setembro de 2008 – Lei dos Estágios</li>
      <li>Instrução Normativa nº 213, de 17 de dezembro de 2019 – Estabelece orientação sobre a aceitação de estagiários no âmbito da Administração Pública Federal direta, autárquica e fundacional</li>
      <li>Cartilha esclarecedora sobre a Lei do Estágio – Ministério do Trabalho e Emprego</li>
      <li>Resolução CNE/CEB nº 1, de 21 de janeiro de 2004 – Estabelece Diretrizes Nacionais para a organização e a realização de Estágio de alunos da Educação Profissional e do Ensino Médio</li>
      <li>Resolução CNE/CEB nº 2, de 4 de abril de 2005 – Modifica a redação do § 3º do artigo 5º da Resolução CNE/CEB nº 1/2004</li>
      <li>Parecer CNE/CES nº 416/2012, aprovado em 8 de novembro de 2012 – Consulta sobre estágio no exterior.</li>
      <li>Parecer CNE/CEB nº 1/2018, aprovado em 24 de janeiro de 2018 – quanto à possibilidade de declarações de experiência profissional emitidas por empresas substituírem integralmente o estágio curricular obrigatório.</li>
      <li>Resolução CNE/CEB nº 3, de 21 de novembro de 2018 – Atualiza as Diretrizes Curriculares Nacionais para o Ensino Médio.</li>
      <li>Resolução CNE/CP nº 2, de 20 de dezembro de 2019 – Define as Diretrizes Curriculares Nacionais para a Formação Inicial de Professores para a Educação Básica.</li>
      <li>Resolução CNE/CP nº 1, de 5 de janeiro de 2021 – Define as Diretrizes Curriculares Nacionais Gerais para a Educação Profissional e Tecnológica.</li>
    </ul>

    <h3>Normativas Internas</h3>
    <ul>
      <li>Instrução Normativa PROEX/PROEN/DGP 001/2020 – Regulamenta as diretrizes de estágio obrigatório e não obrigatório do IFRS</li>
      <li>Instrução Normativa PROEX/IFRS nº 001, de 03 de fevereiro de 2021 – Estabelece o fluxo para a realização de convênios e acordos de cooperação.</li>
    </ul>
  </div>
</ng-template>
