<div class="espacamento">
  <div class="card" [ngClass]="solicitacaoStatus()">
    <div class="header">
      <div
        class="tituloTipo"
        *ngIf="solicitacao.tipo === 'bolsa'; else estagio"
      >
        <h3>{{ solicitacao.tipo }}</h3>
      </div>

      <ng-template #estagio>
        <div class="estagio">
          <span>Tipo de Estágio: {{ solicitacao.tipo }}</span>
        </div>
      </ng-template>

      <div>
        <span>Status</span>
        <span class="retangulo" [ngClass]="statusSolicitacao()">{{
          solicitacao.status
        }}</span>
      </div>
    </div>

    <div class="titulo">
      <span>Aluno: {{ solicitacao.aluno.nomeCompleto }}</span>
      <span class="cardDecoracao2"></span>
    </div>

    <div class="conteudo">
      <div class="cardConteudo">
        <span>Curso: {{ solicitacao.aluno.curso.nomeCurso }}</span>
        <span
          >Data da solicitação:
          {{ solicitacao.dataSolicitacao | date : "dd/MM/yyyy" }}</span
        >
        <span class="responsavel">{{ responsavelAtual }}</span>
      </div>
      <div class="buttonContainer">
        <div class="buttons">
          <div class="buttonDetalhes">
            <button class="buttonVerde" mat-raised-button (click)="openDialog()">Detalhes</button>
          </div>
          <div class="buttonGerenciar">
            <button
              class="buttonVerde"
              mat-raised-button
              [routerLink]="['/analisedocs', solicitacao.id]"
            >
              Gerenciar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
