.espacamento {
  margin-bottom: 25px;
}

.card {
  padding: 2px 20px 0px 20px;
  font-weight: 500;
  margin: 0% 10% 0% 10%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  font-size: 18px;
}



.retangulo {
  color: #FFFFFF;
  background-color: #6A737B;
  border: 1px solid #ccc;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.titulo {
  display: grid;
  padding-left: 13px;
  font-size: 1.3em;
}

.cardDecoracao2 {
  width: 10%;
  height: 1px;
  left: 123px;
  top: 314px;
  border: 1px solid #2B923C;
}

.cardConteudo {
  display: flex;
  margin-top: 13px;
  margin-left: 16px;
  font-size: 1.1em;
  width: 50%;
  font-weight: 400;
  margin-right: 10%;
  flex-direction: column;
}

.cardConteudo span {
  margin-bottom: 5px;
}

.conteudo{
  display: flex;
}

.cardPendente{
  background-color: #ffbebe;
}
.cardIndeferido{
  background-color: #ffffff;
}
.cardDeferido{
  background-color: #ffffff;

}
.cardEmAndamento{
  background-color: #ffffff;
}
.buttonContainer {
  width: 50%;
  display: flex;
  // padding: 16px;
  justify-content: flex-end;
  align-items: flex-end;
}
.buttons{
  display: flex;
  
}

.buttonDetalhes{
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 16px 16px 0px;
}

.buttonGerenciar{
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 16px 16px 0px;
}

button {
  background: #2B923C;
  font-size: 20px;
  color: #FFFFFF;
  border: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
button:hover{
  background: #5699ea;
}

.responsavel{
  color: #05418a;
  font-size: 1.1em;
}

.buttonVerde{
  background: #2B923C !important;
  color: #FFFFFF !important;
}

.statusColor1 {
  background-color: #2B923C;
  font-size: 22px;
}

.statusColor2 {
  background-color: #5699ea;
  font-size: 22px;
}

.statusColor3 {
  background-color: #CB0606;
  font-size: 22px;
}

.statusColor4{
  background-color: #00ff95;
  font-size: 22px;
  
}
.statusColor5{
  background-color: #ffcc23;
  font-size: 22px;
}