<div class="espacamento">
  <div class="card">
    <div class="header">
      <div class="tituloTipo" *ngIf="solicitacao.tipo === 'bolsa'; else estagio">
        <span>{{ solicitacao.tipo }}</span>
      </div>

      <ng-template #estagio>
        <div class="estagio">
          <span>Tipo de Estágio: {{ solicitacao.tipo }}</span>
        </div>
      </ng-template>

      <div>
        <span>Status</span>
        <span class="retangulo" [ngClass]="statusSolicitacao()">{{ solicitacao.status }}</span>
      </div>
    </div>

    <div class="titulo">
      <span>Solicitação de: {{ solicitacao.aluno.nomeCompleto}}</span>
      <span class="cardDecoracao2"></span>
    </div>

    <div class="cardConteudo">
      <span>Curso: {{ solicitacao.aluno.curso.nomeCurso }}</span>
      <span>Data da solicitação: {{ solicitacao.dataSolicitacao | date:'dd/MM/yyyy' }}</span>

    
    </div>

    <div class="buttonContainer">
      <div class="buttonDetalhes">
        <button (click)="openDialog()">Detalhes</button>
      </div>

      <div class="buttonGerenciar">
        <button [routerLink]="['/analisedocs', solicitacao.id]">Gerenciar</button>
      </div>
    </div>
  </div>
</div>
