.logo
{
  width: 300px;
}
img{
  width: 98%;
}
.navbar {
  background-color: #0b6b1d;
  display: flex;
  align-items: center;
  height: 6.5em;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 61%);

  &-inicio {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 50px;

    &-link {
      text-decoration: none;
      margin-top: 4%;
      .titulo {
        margin-left: 1em;
        margin-top: 19px;
        color: #ffff;
        font-size: 12px;
      }

      .campus {
        margin-left: 25px;
        color: #ffff;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }


  &-itens {
    padding-right: 50px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;

    &-menu {
      width: 100%;
      padding-bottom: 12px;
      display: flex;
      text-decoration: none;
      justify-content: space-between;

      > a {
        text-decoration: none;
        margin-left: 1em;
        padding: 5px 10px;
        color: #ffff;
        font-size: 1.2em;
        font-weight: 500;

        &:hover {
          cursor: pointer;
          background-color: #0d8122;
          border-radius: 25px;
        }
      }
    }
  }

  .div-ativa{
    border-bottom: 3px solid #ffff;
    &:hover {
      cursor: pointer;
      background-color: #ffffff00;
      border-radius: 0px;
    }
  }


  @media screen and (max-width: 1120px) {
    .bemVindo{
      display: none;
    }
    &-inicio {
      width: 25%;
      display: flex;
      align-items: center;
      padding-left: 50px;
      img {
        width: 0px;
      }
      .logo{
        display: none;
      }

      &-link {
        text-decoration: none;
        width: 100%;
        .titulo {
          line-height: 10px;
          margin-left: 1em;
          color: #ffff;
          font-size: 10px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }

        .campus {
          margin-left: 19px;
          color: #ffff;
          font-size: 25px;
          font-weight: bold;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }
      }
    }
    &-itens {
      width: 75%;
      &-menu {
        .oportunidade,
        .enviarDocs,
        .contato,
        .login {
          font-size: 15px;
        }
      }
      a {
        text-decoration: none;
        margin-left: 1em;
        padding: 5px 10px;
        color: #ffff;
        font-size: 0.9em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.bemVindo {
  line-height: 10px;
  left: 85%;
  top: 1%;
  width: 15%;
  display: flex;
  position: absolute;
  color: #ffffffbd;
  justify-content: center;
  font-size: calc(1.5em + 1px);
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media print {
  :host {
    display: none;
  }
}
