<nav class="navbar">
  <div class="navbar-inicio">
    <a routerLink="">
      <img src="/assets/img/logo-if-branco.png" />
    </a>
    <a class="navbar-inicio-link" routerLink="home">
      <p class="titulo">
        Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Sul
      </p>
      <p class="campus">Campus Restinga</p>
    </a>
  </div>
 
  <div class="navbar-itens">
    <a class="navbar-itens-menu" routerLink="">
      <a href="/"><p class="contato">Oportunidades</p></a>
      <a href="/login"><p class="contato">Enviar documentos</p></a>
      <a href="/analisedocs"><p class="contato">Analise Documentos</p></a>
      <a href="/login"><p class="contato">Login</p></a>
    </a>
  </div>
</nav>
