.logo
{
  transform: scale(1.4);
  border-radius: 15px;
}
img{
  width: 98%;
}
.navbar {
  background: linear-gradient(to right,#17882c 0,#00510f 100%);
  display: grid;
  grid-template-columns: auto auto;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 61%);
  padding: 1em;
  &-inicio {
    margin-left: 2%;
    &-link {
      text-decoration: none;
      font-family: monospace;
      .titulo {
        color: #ffff;
        font-size: 12px;
      }

      .campus {
        margin-left: 0.5em;
        color: #ffff;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
  &-itens {
    display: flex;
    align-items: flex-end;

    &-menu {
      width: 100%;
      display: flex;
      text-decoration: none;
      justify-content: space-evenly;

      > a {
        text-decoration: none;
        margin-left: 1em;
        padding: 5px 10px;
        color: #ffff;
        font-size: 1.2em;
        font-weight: 500;

        &:hover {
          cursor: pointer;
          background-color: #0d8122;
          border-radius: 25px;
        }
      }
    }
  }

  .logout{
    background-color: rgba(255, 0, 0, 0.651) !important;
    border-radius: 5%;
  }
  .div-ativa{
    border-bottom: 3px solid #ffff;
    &:hover {
      cursor: pointer;
      background-color: #ffffff00;
      border-radius: 0px;
    }
  }


  @media screen and (max-width: 1120px) {
    .bemVindo{
      display: none;
    }
    &-inicio {
      width: 25%;
      display: flex;
      align-items: center;
      padding-left: 50px;
      img {
        width: 0px;
      }
      .logo{
        display: none;
      }

      &-link {
        text-decoration: none;
        width: 100%;
        .titulo {
          line-height: 10px;
          margin-left: 1em;
          color: #ffff;
          font-size: 10px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }

        .campus {
          margin-left: 19px;
          color: #ffff;
          font-size: 25px;
          font-weight: bold;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }
      }
    }
    &-itens {
      width: 75%;
      &-menu {
        .oportunidade,
        .enviarDocs,
        .contato,
        .login {
          font-size: 15px;
        }
      }
      a {
        text-decoration: none;
        margin-left: 1em;
        padding: 5px 10px;
        color: #ffff;
        font-size: 0.9em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.bemVindo {
  color: #ffffffbd;
  display: flex;
  align-items: center;
  font-size: calc(1.3em + 1px);
  font-family: "Nunito", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media print {
  :host {
    display: none;
  }
}
