.navbar {
  background-color: #0b6b1d;
  display: flex;
  align-items: center;
  height: 109px;

  &-inicio {
    width: 50%;
    display: flex;
    padding-left: 50px;

    &-link {
      text-decoration: none;

      .titulo {
        margin-top: 19px;
        color: #ffff;
        font-size: 12px;
      }

      .campus {
        margin-left: 25px;
        color: #ffff;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  &-itens {
    padding-right: 50px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;

    &-menu {
      width: 100%;
      padding-bottom: 12px;
      display: flex;
      text-decoration: none;
      justify-content: space-between;

      > a {
        text-decoration: none;
        margin-left: 25px;
        color: #ffff;
        font-size: 16px;
        font-weight: bold;
        
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 1120px) {
    &-inicio {
      padding-left: 30px;
      align-items: center;

      img {
        width: 50px;
      }

      &-link {
        text-decoration: none;

        .titulo {
          line-height: 10px;
          margin-top: 25px;
          color: #ffff;
          font-size: 10px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }

        .campus {
          margin-left: 19px;
          color: #ffff;
          font-size: 25px;
          font-weight: bold;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }
      }
    }
    &-itens {
      &-menu {
        .oportunidade,
        .enviarDocs,
        .contato,
        .login {
          font-size: 15px;
        }
      }
    }
  }
}
