<div class="footer">
  <div class="footer-logo">
    <img class="logo-ifrs-footer" src="./assets/img/logo-ifrs.svg"  />
  </div>
  <div class="footer-infos">
    <div class="geral">
      <p class="nome-campus">Instituto Federal do Rio Grande do Sul – Campus Restinga</p>
      <p class="endereco">Rua Alberto Hoffmann, 285 Restinga - Porto Alegre / RS</p>
      <p class="cep">CEP: 91791-508 - Fone: (51) 3247.8400</p>
    </div>
  </div>
  <div class="footer-mec">
    <img src="./assets/img/banner-emec .svg" alt="" />
  </div>
</div>
