<div class="titulo">
  <p>Cadastro de servidores</p>
</div>

<div class="listaServidores">
  <a routerLink="/listaServidores" class="listaservidor"
    ><button
      matTooltip="Lista de servidores que estão cadastrados no sistema"
      [matTooltipHideDelay]="500"
      [matTooltipShowDelay]="1000"
      color="primary"
      aria-label="Lista de servidores"
      class="botao"
    >
      Lista dos servidores
    </button></a
  >
  <button
    class="botao"
    [matTooltip]="
      desbloqueio
        ? 'Cadastrar um servidor no sistema'
        : 'Desbloquer um email de servidor esteja sendo utilizado por engano...'
    "
    [matTooltipHideDelay]="500"
    [matTooltipShowDelay]="1500"
    (click)="desbloqueio = !desbloqueio"
  >
    {{ desbloqueio ? "Cadastrar servidor" : "Desbloquear e-mail" }}
  </button>
</div>
<div class="formulario">
  <form
    class="formulario--centro"
    role="form"
    (ngSubmit)="excluirServidor()"
    *ngIf="desbloqueio"
  >
    <div class="formularioBox">
      <h3
        >Se você precisa desbloquear um servidor ou desbloquear um aluno com e-mail já cadastrado, pode fazer isso aqui.
         Durante esse processo, a conta vinculada ao e-mail será excluída.</h3
      >

      <br />
      <label class="emailDesbloqueio-campo">E-mail</label>
      <input
        class="nome"
        type="text"
        id="emailDesbloqueio"
        name="emailDesbloqueio"
        placeholder="Digite o e-mail do usuário para o desbloqueio"
        [(ngModel)]="emailDesbloqueio"
      />
      <input class="botao" type="submit" value="Desbloquear" />
    </div>
  </form>

  <form
    class="formulario--centro"
    (ngSubmit)="enviarFormulario()"
    *ngIf="!desbloqueio"
  >
    <div class="formularioBox">
      <div class="divcargo">
        <label for="cargo">Cargo</label>
        <select
          id="cargo"
          name="cargo"
          (change)="exibirCursos($event)"
          [(ngModel)]="servidor.cargo"
          class="text"
          required
        >
          <option value="">Selecione o Cargo</option>
          <option value="Coordenador">Coordenador</option>
          <option value="Setor de Estágio">Setor de Estágio</option>
          <option value="Diretor">Diretor</option>
        </select>
      </div>

      <label class="nome-campo">Nome Completo</label>
      <input
        class="nome"
        type="text"
        id="nome"
        name="nome"
        [(ngModel)]="servidor.nome"
        placeholder="Digite o seu nome"
        required
      />

      <label class="nome-campo">Email institucional</label>
      <input
        class="email"
        type="email"
        id="email"
        name="email"
        [(ngModel)]="servidor.usuarioSistema.email"
        placeholder="servidor@restinga.ifrs.edu.br"
        required
      />

      <label *ngIf="exibirCurso" for="curso">Curso</label>
      <select
        *ngIf="exibirCurso"
        name="curso"
        id="curso"
        type="text"
        [(ngModel)]="servidor.curso.id"
        required
        [disabled]="habilitarCurso"
      >
        <option value="" disabled>Escolha um Curso</option>
        <option
          value="{{ curso.id }}"
          *ngFor="let curso of cursos"
          [disabled]="!curso.ativo"
        >
          {{ curso.nomeCurso }}
        </option>
      </select>

      <div class="senhadiv">
        <div class="senha">
          <label class="nome-campo">Digite uma senha</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="servidor.usuarioSistema.senha"
            placeholder="Digite a senha"
            required
          />
        </div>
        <div class="senha">
          <label class="nome-campo">Confirmar senha</label>
          <input
            type="password"
            id="Confirm_password"
            name="Confirm_password"
            [(ngModel)]="confirmarSenha"
            placeholder="Digite novamente a Senha"
            required
          />
        </div>
      </div>

      <input class="botao" type="submit" value="Cadastrar" />
    </div>
  </form>
</div>
