<div class="titulo">
  <p>Gerenciamento de usuários {{gerenciarServidores ? '' : ': Cadastro'}}</p>
</div>

<div class="container cards" *ngIf="gerenciarServidores">
  <mat-card>
    <mat-card-header >
      <mat-card-subtitle>Ir para gerenciamento de:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content (click)="servidorClick()" >
      <div class="dataCard">
        <svg width="99px" height="99px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M512 480a224 224 0 1 0-224-224 224 224 0 0 0 224 224z m0-384a160 160 0 1 1-160 160 160 160 0 0 1 160-160zM989.44 947.84a32 32 0 0 0-6.72-10.56 37.12 37.12 0 0 0-10.56-6.72 32 32 0 0 0-34.88 6.72 36.8 36.8 0 0 0-6.72 10.56 26.56 26.56 0 0 0-2.56 12.16 32 32 0 0 0 2.24 12.16 39.04 39.04 0 0 0 7.04 10.56 32 32 0 0 0 34.88 6.72 37.12 37.12 0 0 0 10.56-6.72 32 32 0 0 0 6.72-34.88zM832 928h-160a32 32 0 0 0 0 64h160a32 32 0 0 0 0-64z" fill="#231815"></path><path d="M941.44 862.08a32 32 0 0 0 18.56-41.6 480 480 0 0 0-926.4 137.28 32 32 0 0 0 32 34.24H544a32 32 0 0 0 0-64H101.44a416 416 0 0 1 800-84.48 32 32 0 0 0 40 18.56z" fill="#231815"></path></g></svg>
        <h2>Servidores</h2>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Ir para gerenciamento de:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content (click)="alunoClick()">
      <div class="dataCard" >
        <svg width="99px" height="99px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M512 480a224 224 0 1 0-224-224 224 224 0 0 0 224 224z m0-384a160 160 0 1 1-160 160 160 160 0 0 1 160-160zM989.44 947.84a32 32 0 0 0-6.72-10.56 37.12 37.12 0 0 0-10.56-6.72 32 32 0 0 0-34.88 6.72 36.8 36.8 0 0 0-6.72 10.56 26.56 26.56 0 0 0-2.56 12.16 32 32 0 0 0 2.24 12.16 39.04 39.04 0 0 0 7.04 10.56 32 32 0 0 0 34.88 6.72 37.12 37.12 0 0 0 10.56-6.72 32 32 0 0 0 6.72-34.88zM832 928h-160a32 32 0 0 0 0 64h160a32 32 0 0 0 0-64z" fill="#231815"></path><path d="M941.44 862.08a32 32 0 0 0 18.56-41.6 480 480 0 0 0-926.4 137.28 32 32 0 0 0 32 34.24H544a32 32 0 0 0 0-64H101.44a416 416 0 0 1 800-84.48 32 32 0 0 0 40 18.56z" fill="#231815"></path></g></svg>
        <h2>Alunos</h2>
      </div>
    </mat-card-content>
  </mat-card>
</div>



<div class="listaServidores" *ngIf="!gerenciarServidores">
  <a routerLink="/listaServidores" class="listaservidor"
    ><button
      matTooltip="Lista de servidores que estão cadastrados no sistema"
      [matTooltipHideDelay]="500"
      [matTooltipShowDelay]="1000"
      color="primary"
      aria-label="Lista de servidores"
      class="botao"
    >
      Lista dos servidores
    </button></a
  >
  <button
    class="botao"
    [matTooltip]="
      desbloqueio
        ? 'Cadastrar um servidor no sistema'
        : 'Desbloquer um email de servidor esteja sendo utilizado por engano...'
    "
    [matTooltipHideDelay]="500"
    [matTooltipShowDelay]="1500"
    (click)="desbloqueio = !desbloqueio"
  >
    {{ desbloqueio ? "Cadastrar servidor" : "Desbloquear e-mail" }}
  </button>
</div>
<div class="formulario" *ngIf="!gerenciarServidores">
  <form
    class="formulario--centro"
    role="form"
    (ngSubmit)="excluirServidor()"
    *ngIf="desbloqueio"
  >
    <div class="formularioBox">
      <h3
        >Se você precisa desbloquear um servidor ou desbloquear um aluno com e-mail já cadastrado, pode fazer isso aqui.
         Durante esse processo, a conta vinculada ao e-mail será excluída.</h3
      >

      <br />
      <label class="emailDesbloqueio-campo">E-mail</label>
      <input
        class="nome"
        type="text"
        id="emailDesbloqueio"
        name="emailDesbloqueio"
        placeholder="Digite o e-mail do usuário para o desbloqueio"
        [(ngModel)]="emailDesbloqueio"
      />
      <input class="botao" type="submit" value="Desbloquear" />
    </div>
  </form>

  <form
    class="formulario--centro"
    (ngSubmit)="enviarFormulario()"
    *ngIf="!desbloqueio"
  >
    <div class="formularioBox">
      <div class="divcargo">
        <label for="cargo">Cargo</label>
        <select
          id="cargo"
          name="cargo"
          (change)="exibirCursos($event)"
          [(ngModel)]="servidor.cargo"
          class="text"
          required
        >
          <option value="">Selecione o Cargo</option>
          <option value="Coordenador">Coordenador</option>
          <option value="Setor de Estágio">Setor de Estágio</option>
          <option value="Diretor">Diretor</option>
        </select>
      </div>

      <label class="nome-campo">Nome Completo</label>
      <input
        class="nome"
        type="text"
        id="nome"
        name="nome"
        [(ngModel)]="servidor.nome"
        placeholder="Digite o seu nome"
        required
      />

      <label class="nome-campo">Email institucional</label>
      <input
        class="email"
        type="email"
        id="email"
        name="email"
        [(ngModel)]="servidor.usuarioSistema.email"
        placeholder="servidor@restinga.ifrs.edu.br"
        required
      />

      <label *ngIf="exibirCurso" for="curso">Curso</label>
      <select
        *ngIf="exibirCurso"
        name="curso"
        id="curso"
        type="text"
        [(ngModel)]="servidor.curso.id"
        required
        [disabled]="habilitarCurso"
      >
        <option value="" disabled>Escolha um Curso</option>
        <option
          value="{{ curso.id }}"
          *ngFor="let curso of cursos"
          [disabled]="!curso.ativo"
        >
          {{ curso.nomeCurso }}
        </option>
      </select>

      <div class="senhadiv">
        <div class="senha">
          <label class="nome-campo">Digite uma senha</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="servidor.usuarioSistema.senha"
            placeholder="Digite a senha"
            required
          />
        </div>
        <div class="senha">
          <label class="nome-campo">Confirmar senha</label>
          <input
            type="password"
            id="Confirm_password"
            name="Confirm_password"
            [(ngModel)]="confirmarSenha"
            placeholder="Digite novamente a Senha"
            required
          />
        </div>
      </div>

      <input class="botao" type="submit" value="Cadastrar" />
    </div>
  </form>
</div>
