.titulo {
    padding: 30px;
    display: flex;
    justify-content: center;

    p {
        font-weight: 700;
        font-size: 30px;
        border-bottom: 4px solid #2b923c;
        padding-bottom: 8px;
    }
}


#curso{
  box-sizing: border-box;
  padding: 7px;
  font-size: 18px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 30px;
}

.formulario {
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}

.listaServidores{
  justify-content: center;
  width: 100%;
  display: flex;
  gap: 2em;
  padding-bottom: 20px;
  flex-direction: row;
}



.formulario--centro {
    width: 50%;
}

label{
  font-size: 20px;
  font-style: normal;
  height: 28px;
}

input {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 7px;
  font-size: 18px;

}

#cargo{
  box-sizing: border-box;

  padding: 7px;
  font-size: 18px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 30px;
}

.formularioBox{
  display: flex;
  flex-direction: column;
}

.divcargo{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nome,.email{
  display: grid;
}



ul{
  display: flex;
  padding-left: 0px;
}

.senhadiv{
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.senha{
  display: flex;
  width: 48%;
  flex-direction: column;
  background-color: red($color: #000000);
}

li{
  display: flex;
  flex-direction: column;
}

.botao{
  border: 0px solid #000000;
  background: #2F9E41;
  font-style: normal;
  font-size: 25px;
  padding: 7px;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.2s ease-in-ou;
}
button:hover , .botao:hover{
  background: #5699ea;
}


.cards{
  gap: 5%;
  width: auto !important;
  float: none !important;
  justify-content: center;
  margin-bottom: 5%;
  width: 100% !important;
  .dataCard{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
  }
  svg:hover{
      background-color: #54fa78;
      border-radius: 5px;
  }
  mat-card{
      height: 100%;
  }
}

.container{
  display: flex;
  float: right;
  width: 100%;
  margin-top: 20px;
}

