

  <section>
    
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Sobre o sistema">   
             <p>
                Este sistema foi desenvolvido para gerenciar o processo de estágio no IFRS - 
                Campus Restinga. Ele automatiza todas as fases do estágio, desde a solicitação inicial até a conclusão, 
                facilitando o trabalho tanto para alunos quanto para servidores.
                Teve seu desenvolvimento inicial durante a disciplina de desenvolvimento II orquestrada pela professora Eliana Beatriz
                Pereira, do curso de Análise e Desenvolvimento de Sistemas. 
                E teve seu desenvolvimento seguido para projeto de conclusão de curso pelo Aluno Eugenio Cartagena Rodrigues.
            </p>
            <p>
                Durante a disciplina de Desenvolvimento de Sistemas II, o foco foi principalmente na construção da estrutura básica do sistema.
                 Nesta fase, foram desenvolvidas as funcionalidades essenciais, como a criação de solicitações de estágio e a visualização 
                 por parte dos servidores e alunos. No entanto, muitas funcionalidades avançadas, como a integração com APIs de terceiros 
                 (Google Drive e Gmail) e melhorias na interface de usuário, não foram incluídas devido ao tempo limitado e ao escopo do
                  projeto para a disciplina.
             </p>
             <p>
                Já no trabalho de TCC, o sistema foi aprimorado e expandido com o objetivo de atender completamente às 
                necessidades do setor de estágios do IFRS - Campus Restinga. Além de otimizar funcionalidades já existentes, 
                foram implementadas novas, como o gerenciamento de documentos via Google Drive, notificações automáticas por email, 
                e melhorias significativas na usabilidade e no design. Outra diferença importante foi o processo de validação dos requisitos 
                com usuários reais, o que permitiu ajustes conforme o feedback do setor de estágios e coordenação.
             </p>
            <p>
                Os participantes no desenvolvimento do sistema foram:
                    <mat-list>
                        <mat-list-item><a href="https://github.com/euggnio">Eugenio Cartagena Rodrigues (Desenvolvedor final)</a></mat-list-item>
                        <mat-list-item><a href="https://github.com/paolaarruee">Paola Arrueé (Desenvolvedora)</a></mat-list-item>
                        <mat-list-item><a href="https://github.com/vinivcs97">Vinicius (Desenvolvedor)</a></mat-list-item>
                        <mat-list-item><a href="https://github.com/MayconPadilha">Maycon Padilha (Desenvolvedor)</a></mat-list-item>
                        <mat-list-item><a href="https://github.com/AdrioRRosa">Adrio Rosa (Desenvolvedor)</a></mat-list-item>
                        <mat-list-item><a href="https://github.com/EdersonIFRS">Ederson (Desenvolvedor)</a></mat-list-item>
                        <mat-list-item><a href="https://www.linkedin.com/in/eliana-beatriz-pereira-b172b511a/">Eliana Beatriz Pereira (Orientadora)</a></mat-list-item>
                       </mat-list>
                    </p>
                    <h2>Tecnologias Utilizadas</h2>
                    <p> 
                      <li><strong>Backend:</strong> Java com Spring Boot</li>
                      <li><strong>Frontend:</strong> Angular e Typescript</li>
                      <li><strong>Banco de Dados:</strong> MySQL</li>
                      <li><strong>Integrações:</strong> Google Drive API e Gmail API</li>
                    </p>
                    <h2>Resumo das funcionalidades do aluno</h2>
                    <p>
                          <li>Login via Email ou Google Login</li>
                          <li>Submissão de nova solicitação de estágio</li>
                          <li>Acompanhamento do andamento da solicitação</li>
                          <li>Download de documentos assinados</li>
                          <li>Submissão do Relatório Final</li>
                   
                    </p>

        </mat-tab>
        <mat-tab label="Informações de uso">
            <p>
                O processo de estágio no IFRS - Campus Restinga é dividido em várias etapas, que são gerenciadas pelo sistema.
            </p>
            <h5>Algumas observações importantes sobre o processo de estágio são:</h5>
            <li>Apenas uma solicitação por tipo de estágio pode ser efetuada.</li>
            <li>A documentação só pode ser editada quando a solicitação estiver com status de "Nova" ou com alguma observação.</li>
            <li>O download da documentação assinada acontece apenas após o deferimento</li>
            <li>A documentação assinada será enviada também por email.</li>
            <li>O termo de compromisso de estágio deve estar assinado pelo aluno e pela empresa antes de ser anexado.</li>
            <li>O prazo para resposta é de até 05 (cinco) dias úteis.</li>
            <li>Os documentos devem ser anexados em formato .PDF .DOC ou .DOCX!</li>
            <p>
                O aluno deve seguir as instruções abaixo para solicitar um estágio a partir do sistema:
            </p>
            <h2>1. Solicitação de Estágio</h2>
            <p>
                Para solicitar um estágio, o aluno deve acessar o sistema e clicar no botão <strong>"SOLICITAÇÃO +".</strong>
            </p>
            <img src="assets/img/aluno1.png" width="100%" alt="Solicitar Estágio" />
            <p>
                Em seguida, ele deve preencher o formulário com as informações solicitadas, como dados pessoais, dados da empresa, documentação outros.
                Após preencher o formulário, o aluno deve clicar no botão "Enviar" para submeter a solicitação.
            </p>
            <img src="assets/img/aluno2.png" width="100%" alt="Solicitar Estágio" />
            <p>
                Após submeter a solicitação, o aluno será redirecionado para a página de solicitações, onde poderá visualizar o status da solicitação efetuada.
            </p>
            <img src="assets/img/aluno3.png" width="100%" alt="Solicitar Estágio" />
        </mat-tab>
    </mat-tab-group>
    
  </section>


