

section{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25%;
    justify-content: center;

}

p{
    margin-top: 1em;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.3;
    font-family: Nunito, Geneva, Tahoma, sans-serif;
}

img{
    border: 1px solid black;
}

.marginStatus{
    margin-top: 5%;
}