<div class="espacamento" *ngIf="!data.msgOnly">
  <div class="header">
    <div class="titulo">
      <span>Estágio:  {{ data.solicitacao.tipo }}</span>
      <span class="cardDecoracao"></span>
    </div>

    <div>
      <span>Status</span> 
      <span class="retanguloStatus" [ngClass]="statusSolicitacao()">{{ data.solicitacao.status }}</span>
    </div>
  </div>


  <div class="caixa">
    <div class="observacao">
      <p> <b *ngIf="data.observacaoOn">Observação: </b>{{observacao}}</p>
    </div>
  </div>


  <div class="fluxo">
    <div class="step">
      <div class="circle" [ngClass]="progressoFluxo(1)">1</div>
      <span>Envio de documentos</span>
    </div>

    <span class="retanguloFluxo"></span>
    <div class="step">
      <div class="circle" [ngClass]="progressoFluxo(2)">2</div>
      <div class="etapa">
        <span class="emAndamento" *ngIf="data.solicitacao.etapa == 2 && data.solicitacao.status != 'Indeferido' " >*Em análise*</span>
        <span class="etapaIndeferido" *ngIf="data.solicitacao.etapa == 2 && data.solicitacao.status === 'Indeferido'   " >*Indeferido*</span>
        <span class="etapaDeferido" *ngIf="data.solicitacao.etapa > 2" >*Aprovado*</span>
      </div>
      <span>Análise setor de estágio</span>

    </div>
    <span class="retanguloFluxo"></span>
    <div class="step">
      <div class="circle" [ngClass]="progressoFluxo(3)">3</div>
      <div class="etapa">
        <span class="emAndamento" *ngIf="  data.solicitacao.etapa == 3 && data.solicitacao.status !== 'Indeferido'">*Em Análise*</span>
        <span class="etapaDeferido" *ngIf="data.solicitacao.etapa > 3 ">*Aprovado*</span>
        <span class="etapaIndeferido" *ngIf="data.solicitacao.etapa == 3 && data.solicitacao.status === 'Indeferido'">*Indeferido*</span>
      </div>
      <span>Assinatura Coordenador de curso</span>
    </div>

    <span class="retanguloFluxo"></span>
    <div class="step">
      <div class="circle" [ngClass]="progressoFluxo(4)">4</div>
      <div class="etapa">
        <span class="emAndamento" *ngIf=" data.solicitacao.etapa == 4 && data.solicitacao.status !== 'Indeferido'">*Em Análise*</span>
        <span class="etapaDeferido" *ngIf="data.solicitacao.etapa > 4 && data.solicitacao.status !== 'Indeferido'" >*Aprovado*</span>
        <span class="etapaIndeferido" *ngIf=" data.solicitacao.etapa == 4 && data.solicitacao.status == 'Indeferido'">*Indeferido*</span>
      </div>
      <span>Assinatura Diretor</span>
    </div>

    <span class="retanguloFluxo"></span>
    <div class="step">
      <div class="circle" [ngClass]="progressoFluxo(5)">5</div>
      <div class="etapa">
        <!-- <span class="emAndamento" *ngIf="solicitacao.historico[3].etapa == 5 && solicitacao.etapa == 5 && solicitacao.status !== 'Indeferido'">*Em Análise*</span> -->

          <span class="etapaDeferido" *ngIf=" data.solicitacao.etapa == 5 && data.solicitacao.status == 'Aprovado'">*Concluído*</span>

          <span class="etapaIndeferido" *ngIf=" data.solicitacao.etapa == 5 && data.solicitacao.status == 'Indeferido'">*Indeferido*</span>
      </div>
      <span>Processo de assinatura Finalizado</span>
    </div>
  </div>

  <div class="cardConteudo">
    <span>{{ data.solicitacao.conteudo }}</span>
  </div>
  <div class="buttonFechar">
    <button (click)="closeDialog()">Fechar</button>
  </div>
</div>

<div class="espacamento" *ngIf="data.msgOnly">
  <div class="caixa">
    <div class="observacao" style="font-size: large;">
      <p> <b *ngIf="data.observacaoOn">Observação: </b>{{observacao}}</p>
    </div>
  </div>
</div>

