<div class="espacamento">
  <div class="card">
   <div class="header">
      <span class="tituloEstagio">Estágio {{solicitacao.tipo}}</span>
      <div>
        <span>Status</span>
        <span class="retangulo" [ngClass]="statusSolicitacao()">{{solicitacao.status}}</span>
        <div class="infoStatus">
          <div class="infoStatusCaixa" id="infoStatusCaixa" [ngClass]="statusInfo(1)">
          </div>
          <div class="infoStatusCaixa" id="infoStatusCaixa"[ngClass]="statusInfo(2)">
          </div>
          <div class="infoStatusCaixa"id="infoStatusCaixa"[ngClass]="statusInfo(3)">
          </div>
          <div class="infoStatusCaixa"id="infoStatusCaixa" [ngClass]="statusInfo(4)">
          </div>
          <div class="infoStatusCaixa"id="infoStatusCaixa" [ngClass]="statusInfo(5)">
          </div>
        </div>
      </div>
   </div>

   <div class="titulo">
    <span>{{solicitacao.titulo}}</span>
    <span class="cardDecoracao2"></span>
   </div>

   <div class="cardConteudo">
    <span><p>Data da solicitação: {{ solicitacao.dataSolicitacao }}</p></span>
   </div>

   <div class="buttonContainer">
    <div class="buttonDetalhes"  id="buttonDetalhes" >
      <button (click)="abrirEdicao()" [ngClass]="statusEditavel"> Editar documentos</button>
    </div>
    <div class="buttonDetalhes">
      <button (click)="openDialog()">Detalhes</button>
    </div>
   </div>

  </div>
</div>
