<div class="espacamento">
  <div class="card">
   <div class="header">
      <span>Estágio {{solicitacao.tipo}}</span>
      <div>
        <span>Status</span>
        <span class="retangulo" [ngClass]="statusSolicitacao()">{{solicitacao.status}}</span>
      </div>
   </div>

   <div class="titulo">
    <span>{{solicitacao.titulo}}</span>
    <span class="cardDecoracao2"></span>
   </div>

   <div class="cardConteudo">
    <span><p>Data da solicitação: {{ solicitacao.dataSolicitacao }}</p></span>
   </div>

   <div class="buttonContainer">
    <div class="buttonDetalhes">
      <button (click)="openDialog()">Detalhes</button>
    </div>
   </div>

  </div>
</div>
