.corpo {
  padding: 16px;
  background-color: #f2f2f2;
}

.corpo-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.corpo-dados {
  font-size: 18px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.subtitulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.nome-aluno {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.corpo-dados-etapas {
  font-size: 18px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.etapa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.etapa span {
  flex: 1;
}

.etapa .email, .etapa .data {
  margin-left: 16px;
}

.infos-aluno {
  display: flex;
  width: auto;
  text-align: right;
  justify-content: space-between;
  margin-bottom: 8px;
}

.curso-aluno {
  display: flex;
  justify-content: space-between;
}

.corpo-setor-estagio {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.download {
  margin-bottom: 16px;
}

.historico {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.arquivo {
  font-weight: bold;
}

.botoes {

  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.proximo {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.corpo-passos {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.arquivos-up {
  margin-bottom: 16px;
}
