.corpo {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
  flex-direction: column;

}

.corpo-titulo {
  grid-column: span 3;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 40%;
}

.titulosInfoDocumentos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: calc(12% - 30px);
  text-decoration: dotted;
  
}

.testeX{
  overflow-y: overlay;
  max-height: 600px;
}

.gap{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: calc(11% - 30px);
}

.checkDiretor {
  width: 1.5em;
  height: 1.5em;
}

.checkDiretor:checked {
  background-color: #00ff11;
  border-color: #3498db;
}

.assinado {
  font-weight: 400;
}

.data {
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}

.data:focus {
  outline: none;
  border-color: #007bff;
}
.corpo-dados-caixa {
  display: flex;
  font-family: "Roboto Flex", "Open Sans", "Lato", sans-serif;
  font-size: medium;
  justify-content: space-between;
}

.boxAtualizarDados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.spanValores{
  margin-top: 1px;
  align-items: center;
}
.spanTitulo{
  width: auto;
}



.inputBox {
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 70%;
  height: 1.8em;
  margin-top: 1%;
}

.corpo-dados,
.corpo-dados-etapas,
.corpo-passos {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
}

.dadoAcaoHistorico{
  overflow: overlay;
  max-height: 100px;

}

.gerencia{
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.curso {
  color: #007bff;
}

.subtitulo {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.etapa,
.historico,
.arquivos-up,
.botoes {
  display: grid;
  font-size: medium;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-family: "Roboto Flex", "Open Sans", "Lato", sans-serif;
  gap: 10px;
}

.etapaCaixa:nth-of-type(odd) {
  background-color: #f0f0f0;
}

.etapaCaixa:nth-of-type(even) {
  background-color: #F8F9FA; 
}


.nome-aluno,
.infos-aluno,
.curso-aluno{
  display: flex;
  flex-direction: column;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
}

.etapa,
.historico,
.arquivos-up {
  grid-column: span 3;
}

.arquivos-up {
  text-align: center;
}

.arquivo {
  font-size: 1.1em;
}

.arquivo {
  font-size: 1.3em;
  color: rgb(28, 16, 80);
}

.proximo,
.deferir,
.indeferir {
  grid-column: span 3;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.proximoB{
  border: 1px, 0px, 0px, 0px solid #ccc;;
}

.gerencia {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edicoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.observacao {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
p{
  width: 130%;
  overflow: hidden;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.informacao:hover + .informacaoTexto{
  visibility: visible;
  opacity: 1;

}

.historicoCorpo{
  max-height: 350px !important;
  overflow: auto;
}

.informacaoTexto {
  position: absolute;
  width: 350px;
  word-wrap: break-word;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  font-weight: 400;
  text-align: left;
  padding: 15px;
  font-size: 14px;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
  border-radius: 25px;
background: #F8F9FA;
box-shadow:  7px -7px 33px #c6c7c8,
             -7px 7px 33px #ffffff;
}