.corpo {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
  flex-direction: column;
  font-family: 'Roboto','Nunito', sans-serif;

}
//trocar
.corpo-titulo {
  grid-column: span 3;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 40%;
}

.checkDiretor {
  width: 1.5em;
  height: 1.5em;
}

.checkDiretor:checked {
  background-color: #00ff11;
  border-color: #3498db;
}

.assinado {
  font-weight: 400;
}

.data {
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 150px;
}
.data:focus {
  outline: none;
  border-color: #007bff;
}
.corpo-dados-caixa {
  display: flex;
  font-size: medium;
  justify-content: space-evenly;
  margin-bottom: 2%;
  padding-left: 2% !important;
}

.caixa-dados{
  width: 25%;
}

.caixa-dado{
  display: flex;
  margin: 1%;
  gap: 10%;
  .spanTitulo{
    min-width: 18%;
    font-size: 0.9em;
    font-family: 'Nunito';
  }
}

.spanValores{
  margin-top: 1px;
  align-items: center;
}


.corpo-dados-caixa,
.corpo-dados,
.corpo-dados-etapas,
.corpo-passos {
  background-color: #FFFFFF;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
}

.gerencia{
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bAzul {
  color: #024fa1;
}

.subtitulo {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
}

.arquivos-up,
.botoes {
  display: grid;
  font-size: medium;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.botoes {
  display: flex;
  justify-content: space-evenly;
}

.arquivo {
  font-size: 1.3em;
  color: rgb(37, 2, 196);
}

.proximo,
.deferir,
.indeferir {
  grid-column: span 3;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.proximoB{
  border: 1px, 0px, 0px, 0px solid #ccc;;
}

.gerencia {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edicoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.observacao {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
p{
  width: 130%;
  overflow: hidden;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.icone{
  background-color: #cffcd2;
 
}
.vermelho{
  background-color: #fc7979 !important;
}

.historicoCorpo{
  max-height: 350px !important;
  overflow: auto;
  .etapaCaixa{
    margin-left: 2%;
    border-radius: 5px;
  }
}

.historicoItem{
  font-family: 'Nunito';
  display: flex;
  align-items: center;
  font-size: 1.2em;
  gap: 0.5em;
  padding: 5px;
  .dataHistorico{
    font-size: 0.9em;
    
    color: #445f77;
    margin: 0;
    padding: 0;
  }
}

.etapaCaixa:nth-of-type(odd) {
  background-color: #ebebeb;

}
.etapaCaixa:nth-of-type(even) {
  background-color: #F8F9FA; 
}


.documentosCorpo{
  margin-left: 2%;
  .documentosTabela{
    max-height: 350px !important;
    overflow: auto;
  }
}

th{
  background-color: #ebebeb !important;
}

tr:nth-of-type(odd){
  background-color: #F8F9FA !important;
}

